<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p>
      The New Edwardians is a directory of creatives and their projects, not limited to any industry or location. Most of the content is built, maintained, and accessed by you.
    </p>
    <p>
      For any questions, contact us directly at hello@thenewedwardians.com. We appreciate your support.
    </p>
  </div>
</div>
