<div class="text-center">
	<div class="temp-head">
		<%= image_tag src="LOGO.png" %>
		<h5>A Directory For Creatives</h5>
	</div>
	<div class="temp-content">
		<h2>Launching</h2>
		<h2>Winter 2016</h2>
	</div>
</div>
