/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// BOOTSTRAP SASS
@import "bootstrap-sprockets";
@import "bootstrap";

// FONTS
@import url(https://fonts.googleapis.com/css?family=Lora:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:600);
@font-face { font-family: UpperEastSide; src: url("fonts/UpperEastSide.ttf"); }

// BASE FONTS
body {
	font-family: 'Lora';
	font-weight: 400;
}
h1, h2, h3, h4, h5 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
	text-transform: uppercase;
  letter-spacing: .4em;
  h3 {
    letter-spacing: .25em;
  }
  h4, h5 {
    letter-spacing: .2em;
  }
}
nav {
	font-family: 'UpperEastSide';
	letter-spacing: .3em;
}

// BUTTOM
.btn{
	background:rgba(0, 0, 0, 0.22);
	border: solid 2px #fff;
	border-radius: 0;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.1em;
	letter-spacing: 2px;
	font-family: 'Josefin Sans';
	letter-spacing: .3em;
	width: 200px;
	height: 50px;
	transition: all 0.3s ease 0s;
}

// Button Changes when hovered, focuses, active
.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
	background:rgba(0, 0, 0, 0.55);
	color: #fff;
	outline: none;
}

// HEADER
	.logo {
		margin-top:25px;
	}
	nav{
		margin: 25px auto;
		width: 912px;
		height: 40px;
		border-radius: 0;
		.navbar {

		}
		ul {
			li {
				width: 130px;
			}
		}
	}
	@media (min-width: 768px) {
		.navbar {
		  border-radius: 0;
		}
	}
// MAIN CONTENT
.main-content {
	max-width: 912px;
	margin: 0 auto;
}

// DEVISE FORMS
.devise-form {
	margin-top: 10%;
	.form-logo {
		margin-bottom: 50px;
	}
	input {
		font-family: 'Josefin Sans';
		letter-spacing: .3em;
	}
}
