// BOOTSTRAP SASS
@import "bootstrap-sprockets";
@import "bootstrap";

// FONTS
@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:600);
@font-face { font-family: UpperEastSide; src: url("../fonts/UpperEastSide.ttf"); }

// BASE FONTS
body {
	font-family: 'Lora';
	font-weight: 400;
}
h1, h2, h3, h4, h5 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
	text-transform: uppercase;
  letter-spacing: .4em;
  h3 {
    letter-spacing: .25em;
  }
  h4, h5 {
    letter-spacing: .2em;
  }
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
