// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// INDEX
.profile-box {
	height:300px;
	margin:35px;

	img {
		height: 200px;
	}
}
