// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// INDEX
.profile-index {
	// height: 100px;
	// background-color: #f8f8f8;
  // border: solid 1px #e7e7e7;
	margin: 10px;
}
.tag-small {
	font-size: .7em;
	letter-spacing: .1em;
}
.index-avatar {
	img {
		height: 80px;
	}
}

// SHOW
.hr-profile {
	margin-top: 10px;
	margin-bottom: 10px;
}
.profile-sidebar {
	background-color: #f8f8f8;
  border: solid 1px #e7e7e7;
	padding-top: 10px;
	img {
		width: 200px;
		margin: 0 auto;
	}
}
