// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.temp-head {
	margin-top: 20%;
}
.temp-content {
	margin-top:10%;
}

.privacy {
	margin-top: 30%;
	p {
		font-size: .7em;
	}
}

.about {
	margin-top: 10%;
}
